<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Cheyenne Stroman</string>
	<string>Madyson Bogan</string>
	<string>Hermina Spinka PhD</string>
	<string>Anabelle Glover</string>
	<string>Wendy Rogahn</string>
	<string>Victor Schuster</string>
	<string>Annette Kilback</string>
	<string>Flo Hyatt DDS</string>
	<string>Felicita Crist</string>
	<string>Yadira Mante</string>
	<string>Ova Boehm V</string>
	<string>Howell Schoen</string>
	<string>Andreane Batz IV</string>
	<string>Ms Karlee Kunze</string>
	<string>Rebekah Schneider</string>
	<string>Chester Schumm DDS</string>
</array>
</plist>
